body{
  background:#0f172a;
  color:white;
  font-family:arial;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.poll-box{
  background:#1e293b;
  padding:20px;
  width:300px;
  text-align:center;
}

button{
  width:100%;
  padding:10px;
  margin:5px 0;
  cursor:pointer;
}